<div class="container">
    <div class="section-title">
        <h2>Mengapa harus Tredan?</h2>
        <div class="bar"></div>
        <p>Jasa pembuatan website kami mempunyai Fitur yang simple serta User-Friendly, Design yang minimalis, Kompitebel di semua Browser / Device, dan Harga yang terjangkau.</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-desktop"></i>
                </div>
                <h3>Desain Responsive </h3>
                <p>website dari kami sudah responsive dan kompetibel di semua Device dan Browse serta SEO-fiendly</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-lightbulb"></i>
                </div>
                <h3>Harga Murah</h3>
                <p>dengan harga dibawah 1 juta anda sudah dapat membuat web yang diinginkan dan professional</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-comments"></i>
                </div>
                <h3>Free Konsultasi</h3>
                <p>Majukan bisnis anda,konsultasikan kebutuhan anda kepada kami secara gratis</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-server"></i>
                </div>
                <h3>SSL Encryption</h3>
                <p>Website yang kami buat di proteksi dengan SSL supaya website aman dari serangan hacker.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-window-restore"></i>
                </div>
                <h3>Pilihan Template</h3>
                <p>Desain template yang kita sediakan juga modern, anda dapat memilih template yang diinginkan untuk binis anda.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="single-features">
                <div class="icon">
                    <i class="fa fa-file-image"></i>
                </div>
                <h3>Request Logo</h3>
                <p>Kami juga menyediakan jasa pembuatan logo untuk anda yang belum memiliki logo bisnis anda.</p>
            </div>
        </div>
    </div>
</div>