<div class="container">
    <div class="section-title">
        <h2>List Harga Paket Treedan</h2>
        <div class="bar"></div>
        <p>Silahkan pilih paket yang sesuai dengan kebutuhan anda, anda bisa menghubungi kami jika ada pertanyaan atau kesulitan.</p>
    </div>

    <div class="tab pricing-list-tab">
        <div class="tab_content">
            <div class="tabs_item">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table">
                            <div class="pricing-header">
                                <h3>Landing Page</h3>
                            </div>

                            <div class="price">
                                <sup>Rp</sup>800K <sub></sub>
                            </div>

                            <ul class="pricing-features">
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fa fa-times"></i> Lorem, ipsum.</li>
                            </ul>

                            <div class="pricing-btn">
                                <a routerLink="/" class="default-btn">Order Sekarang <span></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table">
                            <div class="pricing-header">
                                <h3>Company Profile</h3>
                            </div>

                            <div class="price">
                                <sup>Rp</sup>800k <sub></sub>
                            </div>

                            <ul class="pricing-features">
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fa fa-times"></i> Lorem, ipsum.</li>
                            </ul>

                            <div class="pricing-btn">
                                <a routerLink="/" class="default-btn">Order Sekarang <span></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-pricing-table">
                            <div class="pricing-header">
                                <h3>Company Profile + Logo</h3>
                            </div>

                            <div class="price">
                                <sup>Rp</sup>800k <sub></sub>
                            </div>

                            <ul class="pricing-features">
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fas fa-check"></i> Lorem, ipsum.</li>
                                <li><i class="fa fa-times"></i> Lorem, ipsum.</li>
                            </ul>

                            <div class="pricing-btn">
                                <a routerLink="/" class="default-btn">Order Sekarang <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>